USE [master]
GO
/****** Object:  Database [Лаборатория]    Script Date: 08.05.2024 12:30:04 ******/
CREATE DATABASE [Лаборатория]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Лаборатория', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Лаборатория.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Лаборатория_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Лаборатория_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Лаборатория].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Лаборатория]
GO
/****** Object:  Table [dbo].[Авторизация]    Script Date: 08.05.2024 12:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Авторизация](
	[Код_авторизации] [int] NOT NULL,
	[Код_пользователя] [int] NULL,
	[Логин] [nvarchar](50) NULL,
	[Пароль] [nvarchar](50) NULL,
	[IP_адрес] [nvarchar](255) NULL,
	[Дата_и_время_входа] [datetime] NULL,
	[Время_блокировки] [datetime] NULL,
 CONSTRAINT [PK_Авторизация] PRIMARY KEY CLUSTERED 
(
	[Код_авторизации] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Анализатор]    Script Date: 08.05.2024 12:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Анализатор](
	[Код_анализатора] [int] NOT NULL,
	[Наименование] [nvarchar](50) NULL,
 CONSTRAINT [PK_Анализатор] PRIMARY KEY CLUSTERED 
(
	[Код_анализатора] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Должность]    Script Date: 08.05.2024 12:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Должность](
	[Код_должности] [int] NOT NULL,
	[Наименование] [nvarchar](50) NULL,
 CONSTRAINT [PK_Должность] PRIMARY KEY CLUSTERED 
(
	[Код_должности] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Дополнительная_информация]    Script Date: 08.05.2024 12:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Дополнительная_информация](
	[Код_дополнительной_информации] [int] NOT NULL,
	[Код_пользователя] [int] NULL,
	[Серия_паспорта] [int] NULL,
	[Номер_паспорта] [int] NULL,
	[Номер_телефона] [nvarchar](18) NULL,
	[Email] [nvarchar](50) NULL,
	[Номер_страховой_компании] [int] NULL,
	[Номер_страхового_полиса] [nvarchar](16) NULL,
	[Код_типа_страхового_полиса] [int] NULL,
 CONSTRAINT [PK_Дополнительная_информация] PRIMARY KEY CLUSTERED 
(
	[Код_дополнительной_информации] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Заказ]    Script Date: 08.05.2024 12:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказ](
	[Код_заказа] [int] NOT NULL,
	[Код_услуги] [int] NULL,
	[Дата_создания_заказа] [date] NULL,
	[Код_статуса_заказа] [int] NULL,
	[Код_статуса_услуги] [int] NULL,
	[Время_выполнения_заказа] [nvarchar](20) NULL,
	[Код_пользователя] [int] NULL,
 CONSTRAINT [PK_Заказ] PRIMARY KEY CLUSTERED 
(
	[Код_заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Оказанные_услуги]    Script Date: 08.05.2024 12:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Оказанные_услуги](
	[Код_оказанной_услуги] [int] NOT NULL,
	[Дата_оказания_услуги] [date] NULL,
	[Код_заказа] [int] NULL,
	[Код_сотрудника] [int] NULL,
	[Код_анализатора] [int] NULL,
	[Код_услуги] [int] NULL,
	[Результат] [nvarchar](20) NULL,
 CONSTRAINT [PK_Оказанные_услуги] PRIMARY KEY CLUSTERED 
(
	[Код_оказанной_услуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 08.05.2024 12:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[Код_пользователя] [int] NOT NULL,
	[Код_должности] [int] NULL,
	[Фамилия] [nvarchar](50) NULL,
	[Имя] [nvarchar](50) NULL,
	[Отчество] [nvarchar](50) NULL,
 CONSTRAINT [PK_Пользователи] PRIMARY KEY CLUSTERED 
(
	[Код_пользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Работа_анализатора]    Script Date: 08.05.2024 12:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Работа_анализатора](
	[Код_анализатора] [int] NULL,
	[Дата_и_время_поступления_заказа_на_анализатор] [datetime] NOT NULL,
	[Дата_и_время_выполнения] [datetime] NULL,
	[Код_оказанной_услуги] [int] NULL,
 CONSTRAINT [PK_Работа_анализатора] PRIMARY KEY CLUSTERED 
(
	[Дата_и_время_поступления_заказа_на_анализатор] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Работа_с_биоматериалами]    Script Date: 08.05.2024 12:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Работа_с_биоматериалами](
	[Код_взятия_материала] [int] NOT NULL,
	[Код_пробирки] [int] NULL,
	[Дата_взятия] [date] NULL,
	[Вид_биоматериала] [nvarchar](50) NULL,
	[Код_сотрудника_взявшего_биоматериал] [int] NULL,
	[Код_должности] [int] NULL,
	[Наименование] [nvarchar](50) NULL,
 CONSTRAINT [PK_Работа_с_биоматериалами] PRIMARY KEY CLUSTERED 
(
	[Код_взятия_материала] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Статус_заказа]    Script Date: 08.05.2024 12:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Статус_заказа](
	[Код_статуса_заказа] [int] NOT NULL,
	[Статус_заказа] [nvarchar](50) NULL,
	[Код_заказа] [int] NULL,
 CONSTRAINT [PK_Статус_заказа] PRIMARY KEY CLUSTERED 
(
	[Код_статуса_заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Статус_услуги]    Script Date: 08.05.2024 12:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Статус_услуги](
	[Код_статуса_услуги] [int] NOT NULL,
	[Статус_услуги] [nvarchar](50) NULL,
	[Код_услуги] [int] NULL,
 CONSTRAINT [PK_Статус_услуги] PRIMARY KEY CLUSTERED 
(
	[Код_статуса_услуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Страховая_компания]    Script Date: 08.05.2024 12:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Страховая_компания](
	[Код_страховой_компании] [int] NOT NULL,
	[Название_компании] [nvarchar](100) NULL,
	[Адрес] [nvarchar](100) NULL,
	[ИНН] [bigint] NULL,
	[Расчетный_счет] [bigint] NULL,
	[Банковский_идентификационный_номер] [bigint] NULL,
 CONSTRAINT [PK_Страховая_компания] PRIMARY KEY CLUSTERED 
(
	[Код_страховой_компании] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Счета_страховым_компаниям]    Script Date: 08.05.2024 12:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Счета_страховым_компаниям](
	[Код_счета] [int] NOT NULL,
	[Код_заказа] [int] NULL,
	[Код_пользователя_оформившего_заказ] [int] NULL,
	[Код_пользователя_ответственного_за_заказ] [int] NULL,
	[Код_страховой_компании] [int] NULL,
	[Общая_сумма] [money] NULL,
 CONSTRAINT [PK_Счета_страховым_компаниям] PRIMARY KEY CLUSTERED 
(
	[Код_счета] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Тип_страхового_полиса]    Script Date: 08.05.2024 12:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Тип_страхового_полиса](
	[Код_типа_страхового_полиса] [int] NOT NULL,
	[Наименование] [nvarchar](50) NULL,
 CONSTRAINT [PK_Тип_страхового_полиса] PRIMARY KEY CLUSTERED 
(
	[Код_типа_страхового_полиса] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуга]    Script Date: 08.05.2024 12:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуга](
	[Код_услуги] [int] NOT NULL,
	[Наименование_услуги] [nvarchar](50) NULL,
	[Стоимость_услуги] [money] NULL,
	[Код_сотрудника_ответственного_за_услугу] [int] NULL,
	[Код_должности_сотрудника] [int] NULL,
 CONSTRAINT [PK_Услуга] PRIMARY KEY CLUSTERED 
(
	[Код_услуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Авторизация] ([Код_авторизации], [Код_пользователя], [Логин], [Пароль], [IP_адрес], [Дата_и_время_входа], [Время_блокировки]) VALUES (1, 1, N'lab', N'password1', N'192.168.1.1', CAST(N'2024-05-08T11:51:56.120' AS DateTime), NULL)
INSERT [dbo].[Авторизация] ([Код_авторизации], [Код_пользователя], [Логин], [Пароль], [IP_адрес], [Дата_и_время_входа], [Время_блокировки]) VALUES (2, 2, N'labisl', N'password2', N'192.168.1.2', CAST(N'2023-02-13T11:34:23.000' AS DateTime), NULL)
INSERT [dbo].[Авторизация] ([Код_авторизации], [Код_пользователя], [Логин], [Пароль], [IP_адрес], [Дата_и_время_входа], [Время_блокировки]) VALUES (3, 3, N'admin', N'password3', N'192.168.1.3', CAST(N'2024-05-07T19:17:37.660' AS DateTime), NULL)
GO
INSERT [dbo].[Анализатор] ([Код_анализатора], [Наименование]) VALUES (1, N'Биохимический анализатор')
INSERT [dbo].[Анализатор] ([Код_анализатора], [Наименование]) VALUES (2, N'Гематологический анализатор')
INSERT [dbo].[Анализатор] ([Код_анализатора], [Наименование]) VALUES (3, N'Молекулярный анализатор')
GO
INSERT [dbo].[Должность] ([Код_должности], [Наименование]) VALUES (1, N'Лаборант')
INSERT [dbo].[Должность] ([Код_должности], [Наименование]) VALUES (2, N'Лаборант-исследователь')
INSERT [dbo].[Должность] ([Код_должности], [Наименование]) VALUES (3, N'Администратор')
GO
INSERT [dbo].[Дополнительная_информация] ([Код_дополнительной_информации], [Код_пользователя], [Серия_паспорта], [Номер_паспорта], [Номер_телефона], [Email], [Номер_страховой_компании], [Номер_страхового_полиса], [Код_типа_страхового_полиса]) VALUES (1, 1, 1234, 567890, N'89012345678', N'ivanov@mail.ru', 1, N'1234567890', 1)
INSERT [dbo].[Дополнительная_информация] ([Код_дополнительной_информации], [Код_пользователя], [Серия_паспорта], [Номер_паспорта], [Номер_телефона], [Email], [Номер_страховой_компании], [Номер_страхового_полиса], [Код_типа_страхового_полиса]) VALUES (2, 2, 2345, 678901, N'89023456789', N'petrov@mail.ru', 2, N'2345678901', 2)
INSERT [dbo].[Дополнительная_информация] ([Код_дополнительной_информации], [Код_пользователя], [Серия_паспорта], [Номер_паспорта], [Номер_телефона], [Email], [Номер_страховой_компании], [Номер_страхового_полиса], [Код_типа_страхового_полиса]) VALUES (3, 3, 3456, 789012, N'89034567890', N'sidorov@mail.ru', 3, N'3456789012', 3)
GO
INSERT [dbo].[Заказ] ([Код_заказа], [Код_услуги], [Дата_создания_заказа], [Код_статуса_заказа], [Код_статуса_услуги], [Время_выполнения_заказа], [Код_пользователя]) VALUES (1, 1, CAST(N'2023-05-16' AS Date), 1, 3, N'4 часа', 11)
INSERT [dbo].[Заказ] ([Код_заказа], [Код_услуги], [Дата_создания_заказа], [Код_статуса_заказа], [Код_статуса_услуги], [Время_выполнения_заказа], [Код_пользователя]) VALUES (2, 2, CAST(N'2023-11-28' AS Date), 2, 4, N'2 часа', 12)
INSERT [dbo].[Заказ] ([Код_заказа], [Код_услуги], [Дата_создания_заказа], [Код_статуса_заказа], [Код_статуса_услуги], [Время_выполнения_заказа], [Код_пользователя]) VALUES (3, 3, CAST(N'2024-03-05' AS Date), 3, 5, N'5 часов', 15)
GO
INSERT [dbo].[Оказанные_услуги] ([Код_оказанной_услуги], [Дата_оказания_услуги], [Код_заказа], [Код_сотрудника], [Код_анализатора], [Код_услуги], [Результат]) VALUES (1, CAST(N'2023-05-16' AS Date), 1, 1, 1, 3, N'Выполнено')
INSERT [dbo].[Оказанные_услуги] ([Код_оказанной_услуги], [Дата_оказания_услуги], [Код_заказа], [Код_сотрудника], [Код_анализатора], [Код_услуги], [Результат]) VALUES (2, CAST(N'2023-11-28' AS Date), 2, 2, 2, 4, N'Выполнено')
INSERT [dbo].[Оказанные_услуги] ([Код_оказанной_услуги], [Дата_оказания_услуги], [Код_заказа], [Код_сотрудника], [Код_анализатора], [Код_услуги], [Результат]) VALUES (3, CAST(N'2024-03-05' AS Date), 3, 5, 3, 5, N'Выполнено')
GO
INSERT [dbo].[Пользователи] ([Код_пользователя], [Код_должности], [Фамилия], [Имя], [Отчество]) VALUES (1, 1, N'Иванов', N'Иван', N'Иванович')
INSERT [dbo].[Пользователи] ([Код_пользователя], [Код_должности], [Фамилия], [Имя], [Отчество]) VALUES (2, 2, N'Петров', N'Петр', N'Петрович')
INSERT [dbo].[Пользователи] ([Код_пользователя], [Код_должности], [Фамилия], [Имя], [Отчество]) VALUES (3, 3, N'Сидоров', N'Сидор', N'Сидорович')
GO
INSERT [dbo].[Работа_анализатора] ([Код_анализатора], [Дата_и_время_поступления_заказа_на_анализатор], [Дата_и_время_выполнения], [Код_оказанной_услуги]) VALUES (1, CAST(N'2023-05-16T14:32:18.000' AS DateTime), CAST(N'2023-05-16T14:32:18.000' AS DateTime), 1)
INSERT [dbo].[Работа_анализатора] ([Код_анализатора], [Дата_и_время_поступления_заказа_на_анализатор], [Дата_и_время_выполнения], [Код_оказанной_услуги]) VALUES (2, CAST(N'2023-11-28T09:05:33.000' AS DateTime), CAST(N'2023-11-28T09:05:33.000' AS DateTime), 2)
INSERT [dbo].[Работа_анализатора] ([Код_анализатора], [Дата_и_время_поступления_заказа_на_анализатор], [Дата_и_время_выполнения], [Код_оказанной_услуги]) VALUES (3, CAST(N'2024-03-05T17:18:52.000' AS DateTime), CAST(N'2024-03-05T17:18:52.000' AS DateTime), 3)
GO
INSERT [dbo].[Статус_заказа] ([Код_статуса_заказа], [Статус_заказа], [Код_заказа]) VALUES (1, N'Выполнен', 1)
INSERT [dbo].[Статус_заказа] ([Код_статуса_заказа], [Статус_заказа], [Код_заказа]) VALUES (2, N'Выполнен', 2)
INSERT [dbo].[Статус_заказа] ([Код_статуса_заказа], [Статус_заказа], [Код_заказа]) VALUES (3, N'Выполнен', 3)
GO
INSERT [dbo].[Статус_услуги] ([Код_статуса_услуги], [Статус_услуги], [Код_услуги]) VALUES (1, N'В обработке', 1)
INSERT [dbo].[Статус_услуги] ([Код_статуса_услуги], [Статус_услуги], [Код_услуги]) VALUES (2, N'В обработке', 2)
INSERT [dbo].[Статус_услуги] ([Код_статуса_услуги], [Статус_услуги], [Код_услуги]) VALUES (3, N'Выполнено', 3)
GO
INSERT [dbo].[Страховая_компания] ([Код_страховой_компании], [Название_компании], [Адрес], [ИНН], [Расчетный_счет], [Банковский_идентификационный_номер]) VALUES (1, N'Страховка24', N'ул. Ленина, 15', 1234567, 1234567890, 1234567)
INSERT [dbo].[Страховая_компания] ([Код_страховой_компании], [Название_компании], [Адрес], [ИНН], [Расчетный_счет], [Банковский_идентификационный_номер]) VALUES (2, N'Гарантия', N'пр. Победы, 10', 98765432, 9876543210, 987654)
INSERT [dbo].[Страховая_компания] ([Код_страховой_компании], [Название_компании], [Адрес], [ИНН], [Расчетный_счет], [Банковский_идентификационный_номер]) VALUES (3, N'Спокойный полис', N'ул. Мира, 5', 456789, 456789012, 456789012)
GO
INSERT [dbo].[Счета_страховым_компаниям] ([Код_счета], [Код_заказа], [Код_пользователя_оформившего_заказ], [Код_пользователя_ответственного_за_заказ], [Код_страховой_компании], [Общая_сумма]) VALUES (1, 1, 11, 1, 11, 800.0000)
INSERT [dbo].[Счета_страховым_компаниям] ([Код_счета], [Код_заказа], [Код_пользователя_оформившего_заказ], [Код_пользователя_ответственного_за_заказ], [Код_страховой_компании], [Общая_сумма]) VALUES (2, 2, 12, 2, 12, 1000.0000)
INSERT [dbo].[Счета_страховым_компаниям] ([Код_счета], [Код_заказа], [Код_пользователя_оформившего_заказ], [Код_пользователя_ответственного_за_заказ], [Код_страховой_компании], [Общая_сумма]) VALUES (3, 3, 15, 5, 15, 1200.0000)
GO
INSERT [dbo].[Тип_страхового_полиса] ([Код_типа_страхового_полиса], [Наименование]) VALUES (1, N'Обязательное медицинское страхование')
INSERT [dbo].[Тип_страхового_полиса] ([Код_типа_страхового_полиса], [Наименование]) VALUES (2, N'Добровольное медицинское страхование')
INSERT [dbo].[Тип_страхового_полиса] ([Код_типа_страхового_полиса], [Наименование]) VALUES (3, N'Страхование от несчастных случаев и болезней')
GO
INSERT [dbo].[Услуга] ([Код_услуги], [Наименование_услуги], [Стоимость_услуги], [Код_сотрудника_ответственного_за_услугу], [Код_должности_сотрудника]) VALUES (1, N'Общий анализ крови', 500.0000, 1, 1)
INSERT [dbo].[Услуга] ([Код_услуги], [Наименование_услуги], [Стоимость_услуги], [Код_сотрудника_ответственного_за_услугу], [Код_должности_сотрудника]) VALUES (2, N'Общий анализ мочи', 400.0000, 2, 2)
INSERT [dbo].[Услуга] ([Код_услуги], [Наименование_услуги], [Стоимость_услуги], [Код_сотрудника_ответственного_за_услугу], [Код_должности_сотрудника]) VALUES (3, N'Биохимический анализ крови', 800.0000, 5, 1)
GO
ALTER TABLE [dbo].[Авторизация]  WITH CHECK ADD  CONSTRAINT [FK_Авторизация_Пользователи] FOREIGN KEY([Код_пользователя])
REFERENCES [dbo].[Пользователи] ([Код_пользователя])
GO
ALTER TABLE [dbo].[Авторизация] CHECK CONSTRAINT [FK_Авторизация_Пользователи]
GO
ALTER TABLE [dbo].[Дополнительная_информация]  WITH CHECK ADD  CONSTRAINT [FK_Дополнительная_информация_Пользователи] FOREIGN KEY([Код_пользователя])
REFERENCES [dbo].[Пользователи] ([Код_пользователя])
GO
ALTER TABLE [dbo].[Дополнительная_информация] CHECK CONSTRAINT [FK_Дополнительная_информация_Пользователи]
GO
ALTER TABLE [dbo].[Дополнительная_информация]  WITH CHECK ADD  CONSTRAINT [FK_Дополнительная_информация_Страховая_компания] FOREIGN KEY([Номер_страховой_компании])
REFERENCES [dbo].[Страховая_компания] ([Код_страховой_компании])
GO
ALTER TABLE [dbo].[Дополнительная_информация] CHECK CONSTRAINT [FK_Дополнительная_информация_Страховая_компания]
GO
ALTER TABLE [dbo].[Дополнительная_информация]  WITH CHECK ADD  CONSTRAINT [FK_Дополнительная_информация_Тип_страхового_полиса] FOREIGN KEY([Код_типа_страхового_полиса])
REFERENCES [dbo].[Тип_страхового_полиса] ([Код_типа_страхового_полиса])
GO
ALTER TABLE [dbo].[Дополнительная_информация] CHECK CONSTRAINT [FK_Дополнительная_информация_Тип_страхового_полиса]
GO
ALTER TABLE [dbo].[Заказ]  WITH CHECK ADD  CONSTRAINT [FK_Заказ_Пользователи] FOREIGN KEY([Код_пользователя])
REFERENCES [dbo].[Пользователи] ([Код_пользователя])
GO
ALTER TABLE [dbo].[Заказ] CHECK CONSTRAINT [FK_Заказ_Пользователи]
GO
ALTER TABLE [dbo].[Заказ]  WITH CHECK ADD  CONSTRAINT [FK_Заказ_Статус_заказа] FOREIGN KEY([Код_статуса_заказа])
REFERENCES [dbo].[Статус_заказа] ([Код_статуса_заказа])
GO
ALTER TABLE [dbo].[Заказ] CHECK CONSTRAINT [FK_Заказ_Статус_заказа]
GO
ALTER TABLE [dbo].[Оказанные_услуги]  WITH CHECK ADD  CONSTRAINT [FK_Оказанные_услуги_Заказ] FOREIGN KEY([Код_заказа])
REFERENCES [dbo].[Заказ] ([Код_заказа])
GO
ALTER TABLE [dbo].[Оказанные_услуги] CHECK CONSTRAINT [FK_Оказанные_услуги_Заказ]
GO
ALTER TABLE [dbo].[Оказанные_услуги]  WITH CHECK ADD  CONSTRAINT [FK_Оказанные_услуги_Пользователи] FOREIGN KEY([Код_сотрудника])
REFERENCES [dbo].[Пользователи] ([Код_пользователя])
GO
ALTER TABLE [dbo].[Оказанные_услуги] CHECK CONSTRAINT [FK_Оказанные_услуги_Пользователи]
GO
ALTER TABLE [dbo].[Оказанные_услуги]  WITH CHECK ADD  CONSTRAINT [FK_Оказанные_услуги_Услуга1] FOREIGN KEY([Код_услуги])
REFERENCES [dbo].[Услуга] ([Код_услуги])
GO
ALTER TABLE [dbo].[Оказанные_услуги] CHECK CONSTRAINT [FK_Оказанные_услуги_Услуга1]
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD  CONSTRAINT [FK_Пользователи_Должность] FOREIGN KEY([Код_должности])
REFERENCES [dbo].[Должность] ([Код_должности])
GO
ALTER TABLE [dbo].[Пользователи] CHECK CONSTRAINT [FK_Пользователи_Должность]
GO
ALTER TABLE [dbo].[Работа_анализатора]  WITH CHECK ADD  CONSTRAINT [FK_Работа_анализатора_Анализатор] FOREIGN KEY([Код_анализатора])
REFERENCES [dbo].[Анализатор] ([Код_анализатора])
GO
ALTER TABLE [dbo].[Работа_анализатора] CHECK CONSTRAINT [FK_Работа_анализатора_Анализатор]
GO
ALTER TABLE [dbo].[Работа_анализатора]  WITH CHECK ADD  CONSTRAINT [FK_Работа_анализатора_Оказанные_услуги] FOREIGN KEY([Код_оказанной_услуги])
REFERENCES [dbo].[Оказанные_услуги] ([Код_оказанной_услуги])
GO
ALTER TABLE [dbo].[Работа_анализатора] CHECK CONSTRAINT [FK_Работа_анализатора_Оказанные_услуги]
GO
ALTER TABLE [dbo].[Работа_с_биоматериалами]  WITH CHECK ADD  CONSTRAINT [FK_Работа_с_биоматериалами_Должность] FOREIGN KEY([Код_должности])
REFERENCES [dbo].[Должность] ([Код_должности])
GO
ALTER TABLE [dbo].[Работа_с_биоматериалами] CHECK CONSTRAINT [FK_Работа_с_биоматериалами_Должность]
GO
ALTER TABLE [dbo].[Работа_с_биоматериалами]  WITH CHECK ADD  CONSTRAINT [FK_Работа_с_биоматериалами_Пользователи] FOREIGN KEY([Код_сотрудника_взявшего_биоматериал])
REFERENCES [dbo].[Пользователи] ([Код_пользователя])
GO
ALTER TABLE [dbo].[Работа_с_биоматериалами] CHECK CONSTRAINT [FK_Работа_с_биоматериалами_Пользователи]
GO
ALTER TABLE [dbo].[Статус_услуги]  WITH CHECK ADD  CONSTRAINT [FK_Статус_услуги_Услуга] FOREIGN KEY([Код_услуги])
REFERENCES [dbo].[Услуга] ([Код_услуги])
GO
ALTER TABLE [dbo].[Статус_услуги] CHECK CONSTRAINT [FK_Статус_услуги_Услуга]
GO
ALTER TABLE [dbo].[Счета_страховым_компаниям]  WITH CHECK ADD  CONSTRAINT [FK_Счета_страховым_компаниям_Заказ] FOREIGN KEY([Код_заказа])
REFERENCES [dbo].[Заказ] ([Код_заказа])
GO
ALTER TABLE [dbo].[Счета_страховым_компаниям] CHECK CONSTRAINT [FK_Счета_страховым_компаниям_Заказ]
GO
ALTER TABLE [dbo].[Счета_страховым_компаниям]  WITH CHECK ADD  CONSTRAINT [FK_Счета_страховым_компаниям_Пользователи] FOREIGN KEY([Код_пользователя_ответственного_за_заказ])
REFERENCES [dbo].[Пользователи] ([Код_пользователя])
GO
ALTER TABLE [dbo].[Счета_страховым_компаниям] CHECK CONSTRAINT [FK_Счета_страховым_компаниям_Пользователи]
GO
ALTER TABLE [dbo].[Счета_страховым_компаниям]  WITH CHECK ADD  CONSTRAINT [FK_Счета_страховым_компаниям_Страховая_компания] FOREIGN KEY([Код_страховой_компании])
REFERENCES [dbo].[Страховая_компания] ([Код_страховой_компании])
GO
ALTER TABLE [dbo].[Счета_страховым_компаниям] CHECK CONSTRAINT [FK_Счета_страховым_компаниям_Страховая_компания]
GO
ALTER TABLE [dbo].[Услуга]  WITH CHECK ADD  CONSTRAINT [FK_Услуга_Должность] FOREIGN KEY([Код_должности_сотрудника])
REFERENCES [dbo].[Должность] ([Код_должности])
GO
ALTER TABLE [dbo].[Услуга] CHECK CONSTRAINT [FK_Услуга_Должность]
GO
ALTER TABLE [dbo].[Услуга]  WITH CHECK ADD  CONSTRAINT [FK_Услуга_Пользователи] FOREIGN KEY([Код_сотрудника_ответственного_за_услугу])
REFERENCES [dbo].[Пользователи] ([Код_пользователя])
GO
ALTER TABLE [dbo].[Услуга] CHECK CONSTRAINT [FK_Услуга_Пользователи]
GO
USE [master]
GO
